.cabecalho {
   background-color: #7740ED;
   height: 61px;
   display: flex;
   align-items: center;
   justify-content: space-around;

}

.cabecalho h1 {
   color: white;
   font-size: 32px;
}

.cabecalho-icone {
   display: flex;
   align-items: flex-start;
   width: 30px;
   height: 30px;
}


.formulario {
   background-color: aqua;
   height: 400px;

}

form {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}